
*.png
.gradle/4.10/fileChanges/last-build.bin
.gradle/4.10/fileContent/fileContent.lock
.gradle/4.10/fileHashes/fileHashes.bin
.gradle/4.10/fileHashes/fileHashes.lock
.gradle/4.10/gc.properties
.gradle/4.10/javaCompile/classAnalysis.bin
.gradle/4.10/javaCompile/jarAnalysis.bin
.gradle/4.10/javaCompile/javaCompile.lock
.gradle/4.10/javaCompile/taskHistory.bin
.gradle/4.10/taskHistory/taskHistory.bin
.gradle/4.10/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcs-1/gc.properties
.idea/.name
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/STABOT.iml
.idea/vcs.xml
.idea/workspace.xml
activities.json
build.bat
build.gradle
build/classes/java/main/com/tree/STAdventures/ActivityUpdater.class
build/classes/java/main/com/tree/STAdventures/Main.class
build/classes/java/main/com/tree/STAdventures/STAdventuresBot.class
build/libs/STA-1.0-SNAPSHOT.jar
build/tmp/jar/MANIFEST.MF
ChangeLog
cmd.txt
cmds.txt
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
out/production/classes/com/tree/STAdventures/ActivityUpdater.class
out/production/classes/com/tree/STAdventures/Main.class
out/production/classes/com/tree/STAdventures/STAdventuresBot.class
pscp.exe
rolled.txt
settings.gradle
test.txt
